on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

name: Tests

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true

      matrix:
        os: [ubuntu-latest, macos-latest]
        pyv: ["3.7", "3.8", "3.9", "3.10", "3.11.0-rc - 3.11"]

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.pyv }}

    - name: Install dependencies
      run: |
        python -m pip install -r requirements-dev.txt
        python -m pip install -e .

    - name: Test
      run: python -m pytest --cov-report=xml --cov=.

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1.0.13
      with:
        file: ./coverage.xml
        fail_ci_if_error: false
